{% extends 'base.html.twig' %}

{% block title %}We've found these ads:{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('adsDownload') }}">Download as JSON </a>

    <h1>Ads list:</h1>
    <br/>
    <ul>
        {% for ad in ads %}
            <li>
                <h3>{{ ad.title }}</h3>
                <h4>{{ ad.city }}</h4>
                <p>{{ ad.link }}</p>
                <img src="{{ ad.image }}" />
                <br/>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
